/*Common*/

.cnt-center {
    text-align: center;
}

.cnt-left {
    text-align: left;
}

.cnt-right {
    text-align: right;
}

.item-left {
    float: left;
}

.item-right {
    float: right;
}

.clear {
    clear: both;
}

body {
    background-color: #f2f5f7;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
}

.container {
    padding: 20px 0 60px;
}

.tabs .container {
    padding-top: 40px;
    padding-bottom: 0;
}

/*Header*/


/*
.header {
    
}

.navbar-inner{
    height: 75px;
    background-color: #334867;
}
.nav>li>a{
    position: relative;
    display: inline-block;
}
.navbar-inner .nav>li>a{
    padding: 25.5px;
}
.navbar-inner img{
    margin-top: 25px;
    margin-left: 25px;
    position: absolute;
}
.navbar-inner ul {
    list-style-type: none;
    margin-left: 85px;
    padding: 0;
    overflow: hidden;
}

.navbar-inner li {
    float: left;
}

.navbar-inner li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-inner li a:hover:not(.active) {
    background-color: #253a59;
}

.navbar-inner .active {
    background-color: #83c0ff;
    pointer-events: none;
}
*/

header {
    background-color: #334867;
}

.logo {
    margin-top: 18px;
}

.logo a {
    padding-top: 20px;
    padding-left: 12px;
}

.navbar {
    height: 70px;
    padding: 0 1rem;
}

.primary-link {
    font-size: 15px;
}

.primary-link a.active {
    background-color: #83c0ff;
    pointer-events: none;
}

.primary-link a:hover {
    color: #ffffff;
    background-color: #253a59;
}

.navbar-nav li {
    margin-right: -15px;
}

.navbar .nav>li>a {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar .nav li a {
    margin-right: 0;
}

.primary-nav-icon a:hover,
.primary-nav-icon a:focus {
    color: #83c0ff;
}

.fa-bell-o:hover,
.fa-envelope-o:hover {
    color: #83c0ff;
}

.img-thumbnail {
    height: 50px;
    border: none;
    background: none;
}

.fa-chevron-down {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 100;
    color: #83c0ff;
}

.profile-pic {
    background-color: #253a59;
}

.profile-pic:hover {
    background-color: #253a59;
}


/* -------------------------------- 

Dropdowns

-------------------------------- */

.dropdown {
    padding: 10px 0;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu {
    left: auto;
    right: 0!important;
    border: 1px solid #ebeef2;
    border-radius: 0 0 3px 3px;
    width: 250px;
    margin-top: 0px;
    background-color: #fff;
    text-align: left;
    font-size: 14px;
}
.dropdown-divider{
    background-color: #ebeef2;
}

.dropdown-profile {
    margin-right: 23px;
}

.dropdown-inbox {
    margin-right: 185px;
}

.dropdown-notif {
    margin-right: 117px;
}

.dropdown-menu-header {
    padding: 10px 15px 5px;
    font-weight: 400;
    color: #334867;
}

.label-danger {
    margin-left: 5px;
    font-weight: 300;
    font-size: 13px;
    padding: 5px 10px;
    background-color: #83c0ff;
}
.dropdown-item{
    color: #a1b7ce;
    pointer-events: none;
    text-align: center;
    padding: 0 10px;
}
.dropdown-profile > .dropdown-item{
    color: #334867;
    text-align: left;
    pointer-events: all;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
}
.dropdown-profile > .dropdown-item:last-child{
    text-align: center;
    padding-top: 3px;
}
.dropdown-profile > .dropdown-item:hover{
        background-color: #fff;
    color: #83c0ff;
}
/*
.header .inner-header,
.header .logo {
    padding: 2.2rem 0;
}


.header .inner-header {
    width: 70%;
    float: left;
}
*/


/*
.header .nav {
    display: inline-block;
}

.header .nav a,
.header .logo a,
.header .comments a,
.dropdown-menu a {
    color: #a1b7ce;
    font-size: 14px;
}

.header .nav li a:hover,
.header .logo a:hover,
.header .comments a:hover,
.dropdown-menu a:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}

.fa {
    font-size: 20px;
}

.fa-chevron-down {
    font-size: 16px;
}

.header .nav li.active a {
    color: #fff;
    background-color: #83c0ff;
}

.header .logo {
    display: inline-block;
    width: 15%;
    float: left;
    text-align: center;
    margin-top: -5px;
}

.header .container {
    padding-left: 0;
}

.browse {
    margin-left: -4rem;
}

.navbar-inner {
    height: 5.5rem;
}

.nav > li {
    display: inline-block;
}

.nav > li > a {
    padding: 0;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

.header .comments {
    list-style: none;
    display: inline-block;
    float: right;
    font-size: 1.5em;
    margin-top: -0.5rem;
}

.comments li {
    float: left;
    margin-right: 40px;
}

.comments li a {
    padding: 10px 0;
}

.header .pull-right {
    background-color: #253a59;
    width: 12%;
    text-align: center;
    height: 100%;
}

.header .pull-right a {
    margin-right: 0;
}

.header .pull-right a .fa-chevron-down {
    margin-top: 35%;
    margin-left: 20px;
    color: #83c0ff;
}

.img-thumbnail-custom {
    max-width: 4rem;
    border: none;
    background: none;
}
*/


/* Content */

.dropdown-item.active,
.dropdown-item.active:hover,
.dropdown-item.active:focus {
    background-color: transparent;
}

.dropdown-item.active:after {
/*
    font-family: FontAwesome;
    content: "\f00c";
*/
    color: #83c0ff;
    float: right;
}

.dropdown-category {
    margin-bottom: 20px;
}

.dropdown-category .btn-default,
.dropdown-category .btn-default:hover,
.dropdown-category .btn-default:focus,
.dropdown-category .btn-default:active,
.dropdown-category .btn-default.active,
.dropdown-category .open .dropdown-toggle.btn-default {
    border: none;
    background-color: transparent;
}

.dropdown-category .btn-group.open .dropdown-toggle {
    box-shadow: none;
}

#favDes{
    color: #334867;
}
#favDes a{
    color: #334867;
    font-weight: 500;
}
#favDes a:hover{
    color: #83c0ff;
}
.btn{
    font-size: 14px;
    color: #334867;
    font-weight: 400;
}
.filter-icon{
    font-size: 11px;
}

.filter-item{
    text-align: left;
    padding: 5px;
    padding-left: 15px;
    pointer-events: all;
}
/*
.dropdown-menu.active{
    color: red;
}
*/

/*sara add*/

.header .dropdown-toggle::after {
    border: none;
}

.tabs {
    background-color: #fff;
}

.tabs .nav li a {
    margin-right: 0;
}

.tab-pane {
    margin-left: 5%;
}

.slider .tab-pane {
    margin-left: 0;
}

.nav-pills{
    font-size: 14px;
    letter-spacing: .2px;
    font-weight: 300;
    margin-left: -53px;
}

.nav-pills .nav-link {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: #8a9eb5;
    border-radius: 0;
    padding: 0px 30px 20px;
        font-weight: 300;
    letter-spacing: .5px;
}

.nav-pills .nav-link:hover {
    color: #52657c;
}


/*
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus 
*/

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
    background-color: transparent;
    border-bottom: 2px solid #83c0ff;
    color: #83c0ff;
    border-radius: 0;
    padding: 0px 30px 20px;
}


/*
.product {
    background-color: #fff;
    padding-bottom: 20px;
    color: #324559;
    margin-top: 40px;
}

.product .img img {
    width: 100%;
}

.product .title-price,
.product .description {
    padding: 0 20px;
}

.product .title-price {
    font-size: 1.6em;
    margin-top: 20px;
}

.product .price {
    color: #83c0ff;
    text-align: right;
}
*/

.tab-content {
    min-height: 1000px;
}

div#completed.tab-pane.empty,
div#yourDesigners.tab-pane.empty,
div#submissions.tab-pane.empty {
    margin-top: 7rem;
}


/*  Cards -- Sara */

.prize {
    color: #9FC5F2;
}

.card {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 95%;
    /*height: 425px;*/
    height: 465px;
    /*overflow: hidden;*/
    border: none;
    border-radius: 0;
}


/*ADDED*/

.submittedBadge {
    position: absolute;
    top: 25px;
    right: -8px;
    height: 35px;
    line-height: 26px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: #324559;
    padding: 5px 15px;
}


/*ADDED*/

.card-block-footer {
    padding: 0.75rem 1.75rem;
}


/*ADDED*/

.card-img {
    height: 310px;
    width: 100%;
    border-radius: 0;
    border: none;
}


/*ADDED*/

.hidden {
    display: none !important;
}


/*ADDED*/

.card-img-top {
    height: 300px;
    border-radius: 0;
}

.card a,
.card a:hover,
.card a:visited {
    color: inherit;
    text-decoration: none;
}

.card-fade {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 4em;
    background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.designerCard {
    height: 270px;
    width: 80%;
}

.designerInfo {
    padding: 0;
}

.showcaseCard {
    height: 370px;
    width: 95%;
}

.submissionCard {
    height: 375px;
    overflow: hidden;
}

.submissionCard .card-fade {
    height: 2rem;
}


/*  Image Overlay -- Sara  */


/*.image-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay-fade-in p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 1rem;
    opacity: 0;
    transition: all 0.2s linear;
}

.specs > p:first-child {
    margin-bottom: 0;
}

.overlay-fade-in .specs {
    margin-top: 4rem;
    margin-right: 2rem;
    text-align: right;
}

.overlay-fade-in h6 {
    margin-top: 5.5rem;
    text-align: left;
    margin-left: 1rem;
}

.overlay-fade-in h6 span {
    margin-right: 1rem;
}

.overlay-fade-in img {
    transition: all 0.2s linear;
}*/


/*.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(138, 158, 181, 0.8);
    transition: all 0.4s ease-in-out;
}*/


/*.overlay-fade-in h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 25%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.overlay-fade-in h2 i:first-child {
    margin-right: 3rem;
}

.overlay-fade-in:hover img {
    transform: scale(1.2);
}

.overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
}

.overlay-fade-in:hover h2,
.overlay-fade-in p,
.overlay-fade-in .button {
    opacity: 1;
}

.overlay-fade-in:hover p {
    transition-delay: 0.1s;
}

.overlay-fade-in:hover .button {
    transition-delay: 0.2s;
}*/


/* End of Cards */


/*Contest*/

.tabs .link-breadcrumb {
    /*    padding: 28px 0;*/
}

.link-breadcrumb .back a,
.link-breadcrumb .back i {
    color: #324559;
}

div#brief.tab-pane {
    margin-left: 0;
}

.pager {
    display: inline-block;
    margin: 0;
}

.tab-price {
    margin: 3rem 5rem;
    /*    margin-top: 20px;*/
    /*    margin-bottom: 20px;*/
}

.tab-price .tabs {
    background-color: transparent;
}

.tab-price .tabs p > a {
    color: #83c0ff;
}

.tab-price .tabs p > a:hover {
    color: #52657c;
}

.tab-price .price {
    text-align: right;
}

.pager li > a,
.pager li > span {
    border: 1px solid #83c0ff;
    color: #83c0ff;
    padding: 0.5rem 2rem;
    border-radius: 20px;
}

.pager li > a:hover {
    color: white;
    background: #83c0ff;
}

.tab-price .pager {
    margin-left: -0.5rem;
    margin-top: 0.5rem;
}

.tab-price .pager > li {
    border: none;
    background-color: #ebeef2;
    color: #324559;
    /*    border: 1px solid #324559;*/
}


/*
.tab-price .pager li > a {
    border: none;
    background-color: #ebeef2;
    color: #324559;
}
*/

.tab-price .pager .room {
    background-color: #fff;
    border: 1px solid #324559;
    padding: 0.5rem 1rem;
}


/*
.tab-price .pager li > a:hover,
.tab-price .pager li.active > a {
    background-color: #fff;
    border: 1px solid #324559;
}
*/

#brief > .row {
    margin-left: 3rem;
    /*    margin-right: 3rem;*/
}

.price {
    color: #324559;
}

.price .price-unit {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider {
    min-height: inherit;
}

.gallery img {
    display: block;
    height: 200px;
    margin-right: 20px;
}

.flickity-page-dots {
    display: none;
}

.flickity-prev-next-button {
    top: inherit;
    bottom: -15%;
    background: none;
}

.flickity-prev-next-button.previous {
    left: 40%;
    z-index: 20;
}

.flickity-prev-next-button.next {
    right: 40%;
    z-index: 20;
}

.info {
    margin-top: 90px;
}


/*sara fix*/

.info .title {
    font-size: 1.2em;
    font-weight: bold;
}

.profile {
    background-color: #fff;
}

.profile a {
    color: #83c0ff;
}

.profile .container {
    padding-bottom: 0;
}

.profile .pager li > a {
    padding: 10px 15px;
}

.profile .mail-like {
    padding: 0;
}

.profile .mail-like > a {
    font-size: 1.5em;
}

.profile .mail-like > a,
.link-like {
    color: #8a9eb5;
}

.profile [class*="col-"] {
    padding: 0;
}

.profile{
    margin-left: -85px;
}

.designerCard .card-block,
.showcaseCard .card-block,
.link-like {
    font-size: 1rem;
    color: #8a9eb5;
}

.designerCard .card-title > a:hover {
    color: #324559;
}

.number-like {
    margin-right: 10px;
}

.count-number {
    padding: 40px 0;
}

.count-number .number,
.count-number .caption {
    background-color: #fff;
}

.count-number .number {
    font-size: 6rem;
    color: #83c0ff;
}

.count-number .caption {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 0.9rem;
}

.review {
    border-top: 1px solid #c3ccd5;
}

.review .title {
    margin: 20px 0;
}

.title button {
    background-color: transparent;
    border: none;
}

.item-review {
    background-color: #fff;
    position: relative;
    padding: 40px 20px;
}

.media,
div.name > a {
    color: #8a9eb5;
    padding-top: -10px;
}

.item-review .media {
    display: table;
    position: absolute;
    left: -50px;
    top: 10px;
}

.item-review .media .media-body {
    display: table-cell;
    vertical-align: middle;
}

.media .name {
    font-size: 18px;
    font-weight: 400;
    color: #334867;
    margin-bottom: -10px;
}
.media p:last-child{
    margin-top: -10px;
    font-size: 14px;
    
}

.stars ul {
    display: inline-block;
    list-style: none;
    margin-left: -40px;
    font-size: 1.5em;
    margin-bottom: 0;
    color: #8a9eb5;
}

.stars ul li {
    float: left;
    margin-right: 7px;
}

.description {
    color: #8a9eb5;
}


/*End of Contest*/


/*Personal Info*/

div#personal.tab-pane {
    margin-right: 5%;
}

#personal {
    color: #52657c;
}

#personal h6 {
    font-weight: 500;
}

#personal p {
    font-size: 0.8rem;
}

#personal input,
#personal .input-group-addon {
    border-radius: 0;
}

.personalInfo,
.languages,
.email,
.password,
.save {
    margin-top: 2rem;
    /*height:42px;*/
}

.save button {
    border: 1px solid #83c0ff;
    border-radius: 3px;
    background: #83c0ff;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    letter-spacing: .3px;
}

.save button:hover {
    border: 1px solid #378feb;
    background: #378feb;
    color: white;
}

.upload .save {
    margin-right: 3rem;
}

.password a {
    color: #83c0ff;
}

.checkbox input {
    margin-right: 0.5rem;
}


/*End of Personal Info*/


/*DK add*/

.color-blue {
    color: blue;
}


/*Footer*/

footer .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.9375rem 0;
}

footer ul {
    padding: 0;
}

@media screen and ( min-width: 768px) {
    .gallery img {
        height: 600px;
    }
}



